.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/Login.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-title {
    text-align: center;
    flex-direction: column;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-error {
    color: red;
    text-align: center;
}